

<div class="text">
  <h1>Create a Trivia Game</h1>
  <h3>Choose an artist to test your knowledge!</h3><br>
</div>
<div id="findArtist">
  <input type="text" name="artistKeyword" [ngModel]="artistKeyword" (ngModelChange)='keywordModelChanged.next($event)'
    class="form-control col-sm-8" placeholder="Search for artist....." /><br>
</div>

<div *ngIf="searchArtist">
  <div>
    <div *ngFor="let result of searchArtist; let i = index" (click)="createGameForArtist(result)">
      <div class="artistCard">
        <img class="artistPhoto" src="{{result.img}}" >
        <h2 style="text-align: center;"><a>{{result.name}}</a></h2>
      </div>
    </div>
  </div>
</div>

