
<div class="body">

<div style="text-align: center;">
  <h1>Create a Trivia Game</h1>
<h3>Choose an artist to test your knowledge!</h3><br>
</div>
<div class="card-block row justify-content-center" id="findArtist">
  <input type="text" name="artistKeyword" [ngModel]="artistKeyword" (ngModelChange)='keywordModelChanged.next($event)'
    class="form-control col-sm-8" placeholder="Search for artist....." /><br>
</div>

<div *ngIf="searchArtist">
  <div class="card-block row justify-content-center">
    <div class="card col-sm-1.5" *ngFor="let result of searchArtist; let i = index"
      style="margin: 10px; padding: 10px; cursor: pointer;" onmouseover="this.style.color='gray'"
      onmouseout="this.style.color='black'" (click)="getArtistAlbums(result)">
      <div class="card-block">
        <div class="search-res well">
          <img src="{{result.img}}" width="150px" height="150px" style="border-radius: 3px;">
          <h4 style="text-align: center;"><a>{{result.name}}</a></h4>
          <!-- <h5><a [routerLink]="['/artist', {{result.artist.name}}]>{{result.artist.name}}</h5> -->

        </div>
      </div>
    </div>
  </div>
</div>

</div>