
@import './custom-theme';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
tr .mat-row:hover{
    background: rgba(8, 116, 26, 0.493);
    cursor: pointer;
  }