<html>

<head>
    <title>HTML, CSS and JavaScript demo</title>
</head>

<body>

    <!-- Start your code here -->
<div class="wrapper">


<div>
<p class="lw">Know Song</p>
    <h1 class="header">New Game</h1>
    <div class="flex-container">
        <div style="cursor: pointer;" class="box" onclick="window.location='http://google.com'"><span class="link"> The <br> Lyric <br> Matcher </span></div>
        <div  style="cursor: pointer;" class="box" onclick="window.location='http://google.com'"><span class="link">Name <br> the <br > Song</span></div>
     <div  style="cursor: pointer;" class="box" onclick="window.location='http://google.com'"><span class="link">Album <br > Release <br > Year</span></div>
  </div>
  </div>
  </div>
        <!-- End your code here -->
</body>

</html>
        <
