body {
  background: #fff;
}

.title {
  font-size: 5.6rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  background: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/when-no-music-no-life-tee-with-an-illustration-of-a-guitar-with-trees-tshirt-design-nature-lake-roland-andres.jpg");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 50s linear infinite;
  background-size: cover;
  background-repeat: round;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
.lw {
    font-size: 60px;
    text-align: center;
    color: #FAEBD7;
}

.header {
    text-align: center;
    color: #FAEBD7;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: X-large;
    letter-spacing: 1px;
    line-height: 35px;
    color: white;

}

.box {
    background-color: #FF6347;
    padding: 10px;
    /* border: 1px solid green; */
    box-shadow: inset -5px -5px 5px black;
    width: 120px;
    height: 120px;
    margin-right: 40;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-table;
}
