@import url(https://fonts.googleapis.com/css2?family=Merriweather);

.main-div{
  color:white;
  user-select:none;
}
.infoBar{
  padding: 42px 0 40px;
}

.profileImg{
  height: 125px;
  width: 125px;
  border-radius: 50px;
}

.userInfo{
  position: fixed;
  top: 20px;
  left: 5%;
}
.column{
  display: flex;
  flex-flow: column-reverse;
  vertical-align: middle;
  height: 100%;
}
.column p{
  font-size: xx-large;
  margin-top: 15px;
  text-align: center;
}

.about{
  position: fixed;
  top: 30px;
  right: 5%;
}
.about button{
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Merriweather Sans', sans-serif;
	font-size:30px;
	padding:28px 50px;
	text-decoration:none;
}.about button:hover {
	background-color:#5cbf2a;
}.about button:active {
	transform: translateY(-8px);
}.about button:focus {
  outline: none;
  box-shadow: none;
}

.introHeader{
  text-align-last: center;
} .introHeader h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 5em;
  padding-top: 66px;
  color: #44c767;
} .introHeader h3{
  padding-top: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2em;
  color: bisque;
}

/* CARDS */

.menuCard{
  border-radius: 30px;
    padding: 20px 30px;
    background-color: #3f4740;
    color: #fff;
    width: 200px;
    text-align: center;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    min-height: 200px;
}.menuCard:hover{
  background:linear-gradient(to bottom, #3f4740 70%, #44c767 100%);
	background-color:#44c767;
}.menuCard:active{
  transform: translateY(8px);
}.menuCard:focus {
  outline: none;
  box-shadow: none;
}.menuCard img{
  height: 60px;
  width: 60px;
}.menuCard h2{
  font-size: 30px;
}.menuCard p{
  font-size: 17px;
}

.cardHolder{
  text-align-last: center;
  display: block;
}