#middle {
  align-items: center;
  text-align: center;
  color: #44c767;
  font-size: 700%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 100px;
}
.main-div{
  user-select:none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  color: white;
}

button{
  font-size: xx-large;
  border-radius: 10px;
  border-style: inset;
  border: 4px solid green;
  background-color:#44c767bb;
  padding:28px 50px;
  color: bisque;
  
}button:focus {
  outline: none;
  box-shadow: none;
}button:active{
  transform: translateY(6px);
}button:hover {
  background-color:#333333;
  border: #333333 4px solid;
}

.about{
  position: fixed;
  top: 30px;
  right: 5%;
}
.about button{
  background-color:#44c767bb;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
  color:bisque;
  border: 4px solid green;
	font-family:'Merriweather Sans', sans-serif;
	font-size:30px;
	padding:28px 50px;
	text-decoration:none;
}.about button:hover {
  background-color:#333333;
  border: #333333 4px solid;
}.about button:active {
	transform: translateY(-6px);
}.about button:focus {
  outline: none;
  box-shadow: none;
}

.text_1 {
  animation: text1;
  font-size: 25%;
  width:13em;
}
.text_1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 2s;
  animation-timing-function: steps(26);
  opacity: 1;
  animation-iteration-count: 1;
}
@media (max-width: 1000px) {
  .text_1 {
    font-size: 4vw;
    width:14em;
  }
}
.text_1::after{
  content: "|";
  position: absolute;
  margin-left: 2px;
  right: 0;
  animation: cursor;
  animation-duration: 1s;
  animation-timing-function: steps(5,end);
  animation-iteration-count: infinite;
}

.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
@keyframes text1 {
  from{
    width: 0;
  }
  to {
    width: 13em;
    
  }
}
@keyframes cursor {
 from{
    width: 0;
  }
  to {
    width: 1;
  }
}