<title>KnowSong</title>
<div class="main-div">
  <div class="about" [routerLink]="'/about'">
    <button>About</button>
  </div>  
<div class="muzieknootjes">
  <div class="noot-1">
  &#9835; &#9833;
</div>
  
  <div id ="middle">
    <div class="middleRow">
      <img class ="knowSongLogo" src="assets/KnowSongQED.png" alt='knowsong_icon'>
      <p>Know Song<p>
    </div>
    <span class="text_1">A Music Trivia Experience</span>
    <button class="btn btn-lg btn-primary" (click)='requestAuth()'>Login With Spotify</button>
  </div>

<div class="noot-2">
  &#9833;
</div>
<div class="noot-3">
  &#9839; &#9834;
</div>
<div class="noot-4">
  &#9834;
</div>
</div>
</div>