 #middle {
  align-items: center;
  text-align: center;
  color: #008000;
  font-size: 700%;
  display: flexbox;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 100px;

}
 button{
  font-size: xx-large;
  border-radius: 10px;
  border-style: inset;
  border: 4px solid green;
  border-right: double;
  border-left: double;

}
.text_1 {
  animation: text1;
  font-size: 25%;
}
.text_1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 25s;
  animation-timing-function: steps(40, end);
  opacity: 0;
  /* animation-iteration-count: 0; */
}
.text_1::after{
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
@keyframes text1 {
  0%, 50%, 100% {
    width: 0;


  }
  10%, 40% {
    width: 15em;
    opacity: 1;

  }
}
