<div class ="main-div">
  <div class="backToHome" [routerLink]="'/home'">
    <img src="https://img.icons8.com/plasticine/100/000000/circled-chevron-left.png"/>
  </div>

  <div class ="header">
    <h1>Game History</h1>
  </div>


  <div *ngIf="displayReady" class="tableContainer">
    <table mat-table [dataSource]="dataSource"  multiTemplateDataRows matSort class="mat-elevation-z8" id="outerTable">

      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedGameColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <!-- nested table -->
      <ng-container matColumnDef="expandedGame">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedGameColumns.length">
          <div class="example-element-detail" *ngIf="element.questions.length" [@detailExpand]="element == expandGameDetail ? 'expanded' : 'collapsed'">
            <div class="inner-table mat-elevation-z8" *ngIf="expandGameDetail">

              <table id="innerTable" #innerTables mat-table [dataSource]="element.questions" matSort >
                
                <ng-container matColumnDef="questionText">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Audio</th>
                  <td mat-cell *matCellDef="let element" id="audioBox" > 
                  {{element.num}} 
                    <audio controls src="{{element.questionText}}"></audio>
                  </td>
                </ng-container>
                <ng-container matColumnDef="answer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Song Name</th>
                  <td mat-cell id="songNameColumn" *matCellDef="let element"> {{element.answer}}</td>
                </ng-container>
                <ng-container matColumnDef="userResponse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>You Answered</th>
                  <td mat-cell *matCellDef="let element"> {{element.userResponse}} </td>
                </ng-container>
                <ng-container matColumnDef="correct">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td id="correctColumn" mat-cell *matCellDef="let element">  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedQuestionColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedQuestionColumns;"
                [ngStyle]="row.correct ? {'background-color':'rgba(8, 116, 26, 0.493)'} : {'background-color': 'rgb(231, 79, 79)'}"
                id="innerRow"></tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedGameColumns"></tr>
      <tr mat-row *matRowDef="let basicGameInfo; columns: displayedGameColumns;" class ="gameRow"
        [class.gameRow] = "expandGameDetail === basicGameInfo"
        (click)="expandGameDetail = expandGameDetail === basicGameInfo ? null : basicGameInfo"
        id="outerRow">

      </tr>
      <!-- inner row -->
      <tr mat-row *matRowDef="let row; columns: ['expandedGame']" class="example-detail-row"></tr>
    </table>
  </div>


  
</div>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->