<div class="main-div">
    <div class="about" [routerLink]="'/home'">
        <button>Exit</button>
    </div>

    <div class = "text">
        <h1 class="title">KnowSong</h1>
       
            <button class ="contentButton" ng-show="toggleText">About</button>
            <div class ="content">
                <h2>Trivia</h2>
                    <p>KnowSong provides a way for people to test their knowledge of music artists. Connect a Spotify account 
                    and quickly start a trivia game! 
                    Our game modes focus on 5 randomly generated questions based off of a single music artist's collection of tracks.
                    </p>
                    <p>
                        <b>NOTE:</b> Free spotify acounts may not have access to certain artists. If an artist does not finish loading and returns you to home page. That artist is unavailable. 
                        Sorry! Activate a premium subscription to Spotify for full access!
                    </p>
                <h2>Audio Quiz</h2>
                    <p> Listen to the song preview and choose the name of the song from 4 options.</p>
                <h2>Lyric Quiz</h2>
                    <p>_COMING_SOON_ View a portion of a song's lyrics and choose the name of the song from 4 options.</p>
                <h2>Contact</h2>
                    <p>Email: KnowSongApp@gmail.com</p>
            </div>

        <!-- 
        < hey>
            <h2>Data</h2>
            <p>
            Spotify provides a considerable amount of data through an exposed API. 
            KnowSong connects to Spotify from dedicated servlet for all of the heavy requests and extra security. 
            KnowSong utilizes a relational database to store data on artists as users make requests for new games. 
            Subsequent games using that artist are built from the data on hand instead of using extra API requests. 
            </p>
            <h2>Displayed App</h2>
            <p>
                Built on Angular 9, the front end application always in state of upgrade.
                Email if you want to contribute : knowsong@gmail.com
            </p>
        </div>
    </div> -->
   

</div>
